---
faq:
  - question: ¿Qué es kukulkan?
    answer: Es un habilitador de innovación que pone a la disposición de una orgzanización un conjunto de tecnologías de última generación
  - question: ¿Cuál es el factor innovador que nos brinda kukulkan?
    answer: A través de Kukulkán es factible pensar en una reutilización real, y no teórica, del conocimiento de una organización. El factor innovador, que potencializa a esta plataforma, se encuentra en el hecho de que deja de ser necesario recurrir al autor de un conocimiento, en su lugar, se describe el conocimiento, la manera en que éste es instanciado y se resguarda en la plataforma de automatización; y así queda disponible para ser utilizado por futuros usuarios.
  - question: ¿En qué consiste la plataforma?
    answer: La plataforma está conformada principalmente por algoritmos de inteligencia artificial orientados a sistemas expertos y de aprendizaje automático, que le permiten seguir evolucionando y mejorando el contenido resguardado. Es así, que Kukulkán, se convierte en un habilitador de innovación para las organizaciones, potencializando la capacidad de reutilizar e instanciar el conocimiento generado. 
  - question: ¿Cuál es la fortaleza de la plataforma?
    answer: La fortaleza de Kukulkán, se encuentra en la capacidad de reutilización y uso de productos de trabajo que se generan. A partir de esta reutilización, se aumenta la productividad en nuevos desarrollos de sistemas de software que tengan factores innovadores, habilitando la capacidad de realizar desarrollos más ágiles, mantenimiento menos demandante (¿?) desarrollos alineados a estándares internacionales, integración de múltiples lenguajes y soluciones tecnológicas. En este sentido, una nueva tecnología o conocimiento que tardó más de dos meses en coincidirse (¿?), a través de Kukulkán es factible volverla a utilizar en solo unos instantes, permitiendo la capacidad de reutilización y mejorando de manera considerable la productividad en nuevos desarrollos.
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>